/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * NativeScript Yoonit Components
 * NativeScript VueJS Atomic Design System framework
 *
 * Luigui Delyer @ 2021
 */

@import "../../quarks/YooAnimationPulse"
@import "../../quarks/YooFill"
@import "../../quarks/YooSizeAndFormat"

.yoonit
  &-button
    $root: &
    @apply yoo-font-mont-semibold yoo-font-semibold yoo-p-0

    #{ $root }__text,
    #{ $root }__icon
      @apply yoo-bg-transparent yoo-z-0

    #{ $root }__icon
      &--regular
        @apply yoo-font-awesome-regular

      &--solid
        @apply yoo-font-awesome-solid

      &--brands
        @apply yoo-font-awesome-brands

      &--xxs
        @apply yoo-text-xxs

      &--xs
        @apply yoo-text-xs

      &--sm
        @apply yoo-text-sm

      &--md
        @apply yoo-text-md

      &--lg
        @apply yoo-text-lg

      &--xl
        @apply yoo-text-xl

      &--xxl
        @apply yoo-text-xxl

    &#{ $root }--rectangular,
    &#{ $root }--spherical
      @apply yoo-rounded-xxl

    // SIZE + FORMAT
    $sizes: "xxs" 6 14 "xs", "xs" 7 20 "xs", "sm" 8 25 "sm", "md" 12 31 "md", "lg" 14 44 "lg", "xl" 17 63 "xl", "xxl" 22 83 "xxl"
    $child: "text"
    $tailwindMultiplier: 4
    +YooSizeAndFormat($root, $tailwindMultiplier, $sizes, $child)

    // FILL + VARIATION
    &--filled
      @apply yoo-border-2 yoo-border-solid yoo-z-0

    &--outline
      @apply yoo-border-2 yoo-border-solid yoo-bg-transparent yoo-z-0

    &--clear
      @apply yoo-border-0 yoo-border-transparent yoo-bg-transparent yoo-z-0

    $fills: "primary" "primary" "white" "primary", "secondary" "secondary" "white" "secondary", "danger" "danger" "white" "danger", "grey" "grey-light" "grey-darkest" "grey-darkest", "disable" "grey-lightest" "grey" "grey", "light" "white" "black" "white", "dark" "black" "white" "black"
    $child: "text", "icon"
    +YooFill($root, $fills, $child)

    // ANIMATION
    &#{ $root }--animation-pulse
      @extend %yoo__animation--pulse
