/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * NativeScript Yoonit Components
 * NativeScript VueJS Atomic Design System framework
 *
 * Luigui Delyer @ 2021
 */

@import "../../quarks/YooAnimationPulse"
@import "../../quarks/YooFill"
@import "../../quarks/YooSizeAndFormat"
@import "../../quarks/YooSize"

.yoonit-button
  &__container
    $root: &
    @apply yoo-z-0

    // FILL + VARIATION
    &--filled
      @apply yoo-border-2 yoo-border-solid

    &--outline
      @apply yoo-border-2 yoo-border-solid yoo-bg-transparent

    &--clear
      @apply yoo-border-0 yoo-border-transparent yoo-bg-transparent

    $fills: "primary" "primary" "white" "primary", "secondary" "secondary" "white" "secondary", "danger" "danger" "white" "danger", "grey" "grey-light" "grey-darkest" "grey-darkest", "disable" "grey-lightest" "grey" "grey", "light" "white" "black" "white", "dark" "black" "white" "black"
    $fillChild: ".container__icon", ".container__text"
    @each $fillName, $fillColor, $textColor, $clearTextColor in $fills
      &--filled
        &#{ $root }--fill-#{ $fillName }
          @apply yoo-bg-#{ $fillColor }

          @each $name in $fillChild
            #{ $name }
              @apply yoo-text-#{ $textColor }

              &--error
                @apply yoo-text-danger

      &--outline,
      &--filled
        &#{ $root }--fill-#{ $fillName }
          @apply yoo-border-#{ $fillColor }

      &--outline,
      &--clear
        &#{ $root }--fill-#{ $fillName }
          @each $name in $fillChild
            #{ $name }
              @apply yoo-text-#{ $clearTextColor }

              &--error
                @apply yoo-text-danger

    // SIZE + FORMAT
    &--rectangular,
    &--spherical
      @apply yoo-rounded-xxl

    $sizes: "xxs" 6 14 "xs", "xs" 7 20 "xs", "sm" 8 25 "sm", "md" 12 31 "md", "lg" 14 44 "lg", "xl" 17 63 "xl", "xxl" 22 83 "xxl"
    $formatChild: ".container__text"
    $tailwindMultiplier: 4
    @each $size, $aspectHeight, $aspectWidth, $fontSize in $sizes
      &--#{ $size }
        &#{ $root }--square,
        &#{ $root }--spherical
          @apply yoo-h-#{ $aspectHeight * $tailwindMultiplier } yoo-w-#{ $aspectHeight * $tailwindMultiplier }

        @each $name in $formatChild
          #{ $name }
            @apply yoo-text-#{ $fontSize }

    // ANIMATION
    &--animation-pulse
      @extend %yoo__animation--pulse

    .container
      &__text
        @apply yoo-font-mont-semibold yoo-font-semibold

      &__icon
        &--regular
          @apply yoo-font-awesome-regular

        &--solid
          @apply yoo-font-awesome-solid

        &--brands
          @apply yoo-font-awesome-brands

        &--xxs
          @apply yoo-text-xxs

        &--xs
          @apply yoo-text-xs

        &--sm
          @apply yoo-text-sm

        &--md
          @apply yoo-text-md

        &--lg
          @apply yoo-text-lg

        &--xl
          @apply yoo-text-xl

        &--xxl
          @apply yoo-text-xxl

      &__button
        @apply yoo-bg-transparent yoo-border-transparent yoo-border-0 yoo-z-0
